body header #nav-wrapper ul{
    font-size: 22px;
    font-family: "Cinzel";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 3px 4px rgba(79, 25, 11, 0.8);
    position: absolute;
    left: 743.729px;
    top: 220.524px;
    width: 1111px;
    height: 29px;
    z-index: 202;
}




body header #nav-wrapper ul li{
  display: inline;
}

#icon{
    margin: auto;
}


nav {
  background-color: black;
  background-image: url("bar copy.png");
  opacity: 0;
  position: absolute;
  left: -74px;
  top: 161px;
  width: 3107px;
  height: 97px;
  z-index: 198;
}
